<?xml version="1.0"?>

<launch>

<!--    <arg name="init_latitude" default="36.37081389" />-->
<!--    <arg name="init_longtitude" default="127.36651111" />-->

    <arg name="init_latitude" default="36.3701834" />
    <arg name="init_longtitude" default="127.3679509" />

    <!-- Run gazebo to simulate robot -->
    <include file="$(find omo_r1_gazebo)/launch/omo_r1_empty_world_mod.launch">
        <arg name="init_latitude" value="$(arg init_latitude)"/>
        <arg name="init_longtitude" value="$(arg init_longtitude)"/>
    </include>

<!--    &lt;!&ndash; Run gmapping to create map &ndash;&gt;-->
    <include file="$(find outdoor_waypoint_nav)/launch/include/gmapping_mod.launch"/>

<!--    &lt;!&ndash; Launch robot_localization and navsat node&ndash;&gt;-->
    <include file="$(find outdoor_waypoint_nav)/launch/include/localization_run_sim.launch"/>

<!--    &lt;!&ndash; Run rviz &ndash;&gt;-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find outdoor_waypoint_nav)/rviz_config/model.rviz"/>

<!--    &lt;!&ndash; Run husky_navigation to start move_base &ndash;&gt;-->
    <include file="$(find omo_r1_navigation)/launch/move_base_nav.launch"/>

<!--    &lt;!&ndash; launch safety node to allow the user to disable velocity commands to the robot &ndash;&gt;-->
    <include file="$(find outdoor_waypoint_nav)/launch/include/safety_node.launch"/>

    <include file="$(find mapviz)/launch/mapviz.launch">
    </include>

</launch>
